<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">CONTACTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Parte blanca arriba -->
  <div class="contact-section">
    <h1>Contacto</h1>
  </div>

  <!-- Parte azul abajo -->
  <div class="social-section">
    <h2>Nuestras redes</h2>
    <div class="social-icons">
      <ion-button fill="clear" class="social-button">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <span>WhatsApp</span>
      </ion-button>
      <ion-button fill="clear" class="social-button">
        <ion-icon name="logo-facebook"></ion-icon>
        <span>Facebook</span>
      </ion-button>
      <ion-button fill="clear" class="social-button">
        <ion-icon name="logo-instagram"></ion-icon>
        <span>Instagram</span>
      </ion-button>
    </div>
  </div>

  <div class="info-section">
    <ion-card class="info-card">
      <ion-card-content>
        <p class="info-title">Teléfono</p>
        <p class="info-detail">3128367582</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="info-card">
      <ion-card-content>
        <p class="info-title">NIT</p>
        <p class="info-detail">66963747-5</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="info-card">
      <ion-card-content>
        <p class="info-title">Dirección</p>
        <p class="info-detail">Calle 7 NO 15-58 local 7<br>CAICEDONIA, VALLE</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favoritos">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
