.reset-container {
    display: flex;
    background-color: #128BBF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa toda la altura de la pantalla */
    padding: 20px; /* Espaciado interno */
  }
  
  .reset-card {
    width: 100%;
    max-width: 400px; /* Ancho máximo del contenedor */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
  }
  .center-container {
    text-align: center;
    position: absolute; /* Cambié a 'absolute' para que no se vea afectado por el teclado */
    top: 40px; /* Ajusta la distancia desde la parte superior de la pantalla */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translateX(-50%); /* Esto asegura que el logo se quede centrado */
    z-index: 5; /* Asegura que el logo esté por encima de otros elementos */
  }
  
  .logo {
    width: 200px; /* Ajusta el tamaño del logo */
  }

  ion-button {
    margin-top: 20px; /* Espaciado superior */
    --border-radius: 30px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
  }
  
  ion-button[fill="outline"] {
    --background: transparent; /* Fondo transparente */
    --color: #85ffbe; /* Texto azul */
    --border-color: #85ffbe; /* Borde azul */
  }
  