<div class="center-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
</div>

<ion-content>
  <div class="reset-container">
    <ion-card class="reset-card">
      <!-- Cabecera del formulario -->
      <ion-card-header>
        <ion-card-title>Recuperar contraseña</ion-card-title>
      </ion-card-header>

      <!-- Campo de correo -->
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <!-- Botón para recuperar contraseña -->
      <ion-button expand="full" (click)="resetPassword()">Recuperar Contraseña</ion-button>
      
    </ion-card>
    <ion-button fill="outline" (click)="goToLogin()">Volver a Inicio de Sesión</ion-button>
  </div>
</ion-content>
