<ion-header>
  <ion-toolbar style="background: transparent;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 35px; font-weight: 400; letter-spacing: 4.55px;">Reserva</ion-title>
    <ion-buttons slot="end">
      <img src="assets/image2.png" alt="person" class="logo2">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/image.png" alt="ticket" class="logo">
  <h2>Pasajero</h2>
  <div class="reservation-card">
    <div class="profile-icon">👤</div>
    <div class="info-box">
      <p><strong>Destino:</strong> San Andrés</p>
      <p><strong>Nombre:</strong> {{ reservation.name }}</p>
      <p><strong>Número de documento:</strong> {{ reservation.document }}</p>
      <p><strong>Cantidad de personas:</strong> {{ reservation.people }}</p>
      <p><strong>Total días:</strong> 5</p>
      <p><strong>Fecha de vuelo:</strong> 20/12/2024</p>
    </div>
    <ion-button expand="full">OK</ion-button>
  </div>

</ion-content>
