
<ion-content>
  <!-- Contenedor principal -->
  <div class="main-container">
    <!-- Logo superior derecho -->
    <div class="top-right-logo">
      <img src="assets/logo3.png" alt="Logo Superior Derecho" class="logo3">
    </div>

    <!-- Contenedor de logo y título centrado -->
    <div class="center-container">
      <div class="logo-container">
        <img src="assets/logo2.png" alt="Logo" class="logo">
      </div>
    </div>
    <h1 class="travel-title">TRAVELVALERY</h1>
    <!-- Cuadro blanco con formulario -->
    <div class="login-box">
      
     <!-- Campo de Usuario -->
     <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
      

       <!-- Campo de Contraseña -->
       <ion-item>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]="password"></ion-input>
        <ion-icon
          slot="end"
          [name]="passwordType === 'text' ? 'eye' : 'eye-off'"
          (click)="togglePassword()"
        ></ion-icon>
      </ion-item>
      <ion-button (click)="login()">login</ion-button>

      <!-- Botón de Gmail -->
      <div class="gmail-button">
        <img src="assets/icon/gmail-logo.png" alt="Gmail Logo" />
        <span>Iniciar sesión con Gmail</span>
      </div>
      
      <div class="forgot-password">
        <a href="/reset-password">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="register-link">
        <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
      </div>
      
    </div>
  </div>
</ion-content>
