.register-container {
    background-color: #128BBF;
    position: relative; /* Contenedor principal para manejar posiciones relativas */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .center-container {
    text-align: center;
    position: absolute; /* Cambié a 'absolute' para que no se vea afectado por el teclado */
    top: 40px; /* Ajusta la distancia desde la parte superior de la pantalla */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translateX(-50%); /* Esto asegura que el logo se quede centrado */
    z-index: 5; /* Asegura que el logo esté por encima de otros elementos */
  }
  
  .logo {
    width: 200px; /* Ajusta el tamaño del logo */
  }
  
  
  .register-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-card {
    width: 100%;
    top: 110px; 
    max-width: 400px; /* Tamaño máximo del card */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el card */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el formulario */
  }

  ion-item {
    margin-bottom: 15px;
    --background: #f9f9f9; /* Fondo claro */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 15px; /* Espacio interno a la izquierda */
  }
  
  ion-input {
    --placeholder-color: #888; /* Color del texto del placeholder */
    --color: #000; /* Color del texto ingresado */
    font-size: 16px; /* Tamaño del texto */
  }
  
  ion-button { 
    --background: #CFFDB9ff; /* Color del botón */
    --border-radius: 30px; /* Bordes redondeados */
    --color: #000000; /* Color del texto */
    margin-top: 20px; /* Espacio superior */
  width: 160px; /* Hace que el botón ocupe todo el ancho disponible */
  padding: 12px 0; /* Ajusta el padding para que el botón sea más alto */
  font-size: 18px; /* Tamaño de la fuente del botón */
  }

  
  .login-link {
    margin-top: 90px;
    font-size: 20px;
    color: #000000;
  }
  
  .login-link a {
    color: #CFFDB9ff; /* Color amarillo para destacar el enlace */
  font-weight: bold; /* Negrita para resaltar el enlace */
  text-decoration: none; /* Quita el subrayado */
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  