<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Categorías</h2>
  <ion-chip *ngFor="let category of categories">
    <ion-label>{{ category }}</ion-label>
  </ion-chip>

  <h2>Próximos Viajes</h2>
  <ion-card *ngFor="let trip of featuredTrips" routerLink="/package-details/{{trip.id}}">
    <img [src]="trip.image" />
    <ion-card-header>
      <ion-card-title>{{ trip.name }}</ion-card-title>
      <ion-card-subtitle>${{ trip.price }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
